@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>TypeScript Demo</title>
    <link href="/content/styles/style.css" rel="stylesheet" />
</head>
<body>
    <div id="content">
        @RenderBody()
    </div>
    <script type="text/javascript" src="/scripts/libs/require.js" data-main="/scripts/main"></script>
</body>
</html>